

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

.paging {
  text-align:right;
}
table .actions{
  width:190px;
}
table .table-thumb {
  width:70px;
  height:100px;
}
.error-message {
  margin-left:160px;
  color: #B94A48
}
input.form-error {
  color:#B94A48;
  border-color: #B94A48;
}
.slider-thumb {
  width:460px;
}
.login .span4{
  text-align:center;
  margin-top:60px;
  background: #eee;
  border:1px solid #999;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 10px 0;
  border-radius:3px;
}
.login legend {
  font-size:14px;
  border:none;
}